* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-family: "Inter", sans-serif;
}

[data-theme="light"] {
  color-scheme: light;
  --primary-bg-color: #fafafa;
  --primary-text-color: #222222;
}

[data-theme="dark"] {
  color-scheme: dark;
  --primary-bg-color: #1a1b22;
  --primary-text-color: #fafafa;
}

/*changes the google material icons styles*/
.material-symbols-outlined {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

li {
  list-style-type: none;
}
