* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* by default the markers are positioned outside of the content flow of the list item due to universal no margin and no padding. So, I'm making the ul and ol visible by positioning it to inside just in case if the dots are needed in the future. */

ul,
ol {
  list-style-position: inside;
}

body,
html {
  height: 100vh;
  overflow-x: hidden;
}

:root {
  font-family: "Inter", sans-serif;
  --black: #222222;
  --white: #fafafa;
  --green-100: #a0d4d6;
  --green-200: #55b2c0;
  --green-300: #3d94a3;
  --green-500: #1a8699;
  --green-600: #0a5b69;
  --green-700: #064550;
  --grey-100: #eeeeee;
  --grey-300: #acacac;
}

:root,
[data-theme="light"] {
  color-scheme: light;
  --color-primary-bg: var(--white);
  --color-primary-text: var(--black);
  --color-x-icon: var(--black);
  --color-side-bg: var(--green-100);
  --color-logout-bg: var(--green-100);
  --color-brand-text: var(--black);
  --color-link-text: var(--black);
  --color-site-header: var(--white);
  --color-icon-bg: var(--green-100);
  --color-icon: var(--black);
  --color-icon-text: var(--black);
  --color-category-text: var(--white);
  --color-category-icon-bg: var(--green-300);
  --color-category-bg: var(--green-100);
  --color-shadow-box: var(--green-700);
  --color-round-icon-bg: var(--black);
  --color-round-icon-img: var(--white);
  --color-glass-border: var(--green-200);
  --color-category-h1-bg: var(--green-600);
  --color-category-h1-text: var(--white);
  --color-progress-bar-bg: var(--grey-100);
  --color-progress-bar: var(--green-300);
  --color-progress-bar-text: var(--white);
  --color-utils-btn-bg: var(--green-500);
  --color-utils-btn-text: var(--white);
  --color-delete-btn-bg: var(--green-300);
  --color-save-btn-bg: var(--green-300);
  --color-save-btn-bg-hover: var(--black);
  --color-save-btn-text: var(--white);
  --color-cancel-btn-bg: var(--black);
  --color-cancel-btn-text: var(--white);
  --color-category-modal: var(--white);
  --color-modal-backdrop: var(--black);
  --color-category-icon-modal-bg: var(--green-100);
  --color-input-border: var(--grey-300);
  --color-footer-text: var(--white);
  --color-footer-bg: var(--green-600);
  --color-category-icon-border: var(--green-700);
  --color-sidebar-border: var(--green-200);
  --color-sidebar-link-border: var(--green-200);
  --color-link-hover: var(--green-300);
  --color-logout-bg-hover: var(--black);
  --color-logout-text-hover: var(--white);
  --color-slide-btn-bg: var(--green-300);
  --color-slide-btn-arrow: var(--white);
  --color-dark-green-hover: var(--green-600);
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-primary-bg: var(--black);
  --color-primary-text: var(--white);
  --color-x-icon: var(--white);
  --color-side-bg: var(--green-100);
  --color-logout-bg: var(--green-100);
  --color-brand-text: var(--white);
  --color-link-text: var(--white);
  --color-site-header: var(--black);
  --color-icon-bg: var(--green-100);
  --color-icon: var(--white);
  --color-icon-text: var(--black);
  --color-category-text: var(--white);
  --color-category-icon-bg: var(--green-300);
  --color-category-bg: var(--green-100);
  --color-shadow-box: var(--green-700);
  --color-round-icon-bg: var(--black);
  --color-round-icon-img: var(--white);
  --color-glass-border: var(--green-200);
  --color-category-h1-bg: var(--green-600);
  --color-category-h1-text: var(--white);
  --color-progress-bar-bg: var(--grey-100);
  --color-progress-bar: var(--green-300);
  --color-progress-bar-text: var(--white);
  --color-utils-btn-bg: var(--green-500);
  --color-utils-btn-text: var(--white);
  --color-delete-btn-bg: var(--green-300);
  --color-save-btn-bg: var(--green-300);
  --color-save-btn-bg-hover: var(--black);
  --color-save-btn-text: var(--white);
  --color-cancel-btn-bg: var(--black);
  --color-cancel-btn-text: var(--white);
  --color-category-modal: var(--white);
  --color-modal-backdrop: var(--black);
  --color-category-icon-modal-bg: var(--green-100);
  --color-input-border: var(--grey-300);
  --color-footer-text: var(--white);
  --color-footer-bg: var(--green-600);
  --color-category-icon-border: var(--green-700);
  --color-sidebar-border: var(--green-200);
  --color-sidebar-link-border: var(--green-200);
  --color-link-hover: var(--green-300);
  --color-logout-bg-hover: var(--black);
  --color-logout-text-hover: var(--white);
  --color-slide-btn-bg: var(--green-300);
  --color-slide-btn-arrow: var(--white);
  --color-dark-green-hover: var(--green-600);
}

/*changes the google material icons styles*/
.material-symbols-outlined {
  border: none;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-variation-settings:
    "FILL" 1,
    "wght" 500,
    "GRAD" 0,
    "opsz" 48;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.hidden {
  display: none;
}

/*to remove the dot in the list*/
.sidebar > ul > li,
.nav-list-top,
.category-icon,
.modal-icon {
  list-style-type: none;
}

/*for the side nav-side-container and the right main-container*/
.site-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

/*sidebar menu*/

.x-icon {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  color: var(--color-x-icon);
}

.logo {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
  margin: 2rem 0;
}

.sidebar {
  z-index: 1000;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-side-bg);
}

.menu-link {
  padding: 1.5rem 0;
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--color-link-text);
}

.menu-link,
.log-out {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-out {
  padding: 1rem 2rem;
  background-color: var(--color-logout-hover);
  border: none;
  font-size: 1rem;
  padding: 1.5rem 0;
  width: 100%;
}

/*site content*/
.site-content-wrapper {
  width: 100%;
  display: flex;
  /*min-width: 0 is important. It prevents flex blowout*/
  min-width: 0;
  flex-direction: column;
}

.brand-name {
  color: var(--color-brand-text);
  margin-left: 1rem;
}

.site-header {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-site-header);
}

.nav-list-top {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.menu-icon,
.light-mode-icon {
  background-color: transparent;
  color: var(--color-icon);
}

/*to make the icons smaller*/
.log-out > .material-symbols-outlined,
.menu-link > .material-symbols-outlined,
.light-mode-icon,
.edit-budget-btn > .material-symbols-outlined {
  font-size: 1.5rem;
}

/*gear icon and category icons*/

.icon {
  background-color: var(--color-icon-bg);
  color: var(--color-icon);
}

.category-icon-wrapper.active {
  background-color: var(--color-category-icon-bg);
  box-shadow: 0 2px 5px 0 var(--color-shadow-box);
  color: var(--color-category-text);
}

.category-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-category-bg);
}

.plus-icon,
.view-all,
.gear-icon {
  background-color: var(--color-round-icon-bg);
  color: var(--color-round-icon-img);
}

.plus-icon,
.view-all,
.gear-icon,
.icon {
  border-radius: 50%;
  padding: 1rem;
}

.plus-label,
.icon-label {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.icon-img,
.icon-label {
  grid-column: span 4;
  text-align: center;
}

.gear-setting-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
  z-index: 2;
}

.category-icon-wrapper {
  padding: 1rem 0;
  color: var(--color-icon-text);
}

.modal-icon-wrapper,
.category-icon-wrapper {
  margin: 0.5rem 0.5rem;
}

.modal-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.plus-wrap,
.view-all-icons,
.gear-icon-wrapper,
.category-icon-wrapper,
.modal-icon-wrapper {
  border-radius: 1rem;
  min-width: 130px;
  background-color: transparent;
  opacity: 95%;
}
.plus-wrap,
.view-all-icons,
.gear-icon-wrapper,
.category-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*to give a glass effect on icons*/
.save-btn,
.view-all,
.gear-icon,
.category-icon-wrapper,
.modal-icon-wrapper {
  border: 1px solid var(--color-glass-border);
}

.slide-left-btn {
  display: none;
}

.slide-right-btn {
  display: none;
}

/*for other web compatibility*/
.track-icons::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*paddings for better user experience*/
.category-details,
.util-btn-wrapper,
.category-icon-container {
  margin: 0 1.5rem;
}

/*category details section*/
.category-detail-wrapper {
  padding: 1rem 0;
}

.category-title {
  padding: 0.5rem 1rem;
  background-color: var(--color-category-h1-bg);
  color: var(--color-category-h1-text);
}

/*to give a glass effect on category container and progress bar*/
.category-title,
.category-icon-container,
.progress-bar {
  border-radius: 0.2rem;
  border-bottom: 1px solid var(--color-glass-border);
  border-right: 1px solid var(--color-glass-border);
  box-shadow: 0 2px 5px 0 var(--color-shadow-box);
}

.expense-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.expense-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 0.5rem;
}

.item-name {
  font-weight: bold;
}

.date-goal-wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem 0 0;
  width: 100%;
}

.progress {
  width: 100%;
  background-color: var(--color-progress-bar-bg);
}

.progress-bar {
  display: flex;
  justify-content: end;
  padding: 0.5rem 0.5rem;
  width: var(--target-width, 0%);
  min-width: 3rem;
  background-color: var(--color-progress-bar);
  color: var(--color-progress-bar-text);
  transition: width 0.5s ease;
  animation: grow 0.6s ease forwards;
}

.edit-budget-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Inter", sans-serif;
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: var(--color-primary-text);
}

.util-btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.util-btns {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-utils-btn-bg);
  color: var(--color-utils-btn-text);
  font-size: 1rem;
}

/*edit category modal section*/
.category-dialog-wrapper {
  margin: auto;
  z-index: 2000;
  max-width: 80%;
  min-width: 80%;
  border: none;
  border-radius: 10px;
  overflow-x: hidden;
}

.category-dialog {
  background-color: var(--color-category-modal);
  width: 100%;
  display: flex;
  flex-direction: column;
}

dialog::backdrop {
  background-color: var(--color-modal-backdrop);
  opacity: 50%;
}

.plus-icon {
  margin-top: 1rem;
}
.save-btn {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  background-color: var(--color-save-btn-bg);
  border: none;
  color: var(--color-save-btn-text);
  padding: 1rem 0;
}
.remove-btn {
  grid-column: -1;
  font-size: 1rem;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 var(--color-shadow-box);
}

.close-btn {
  position: absolute;
  right: 0;
  padding: 1rem;
  background-color: transparent;
}

.category-modal-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0.5rem 2rem;
}

.modal-icon-wrapper {
  padding: 0 0 1rem 0;
  background-color: var(--color-category-icon-modal-bg);
  box-shadow: 0 2px 5px 0 var(--color-shadow-box);
}

.confirmation-dialog-wrapper {
  margin: auto;
  z-index: 3000;
  border-radius: 10px;
  border: none;
  overflow-x: hidden;
}

.confirmation-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 1.5rem;
}

.add-category-dialog,
.edit-budget-dialog-wrapper,
.add-category-wrapper {
  margin: auto;
  z-index: 3000;
  border-radius: 10px;
  border: none;
  overflow-x: hidden;
}

.edit-budget-dialog,
.add-category-dialog {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem;
}

.deleteCatIconBtn,
.cancelCatIconBtn {
  width: 100%;
  height: 2.5rem;
  border: none;
  color: var(--color-cancel-btn-text);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.deleteCatIconBtn {
  margin-top: 1rem;
  background-color: var(--color-delete-btn-bg);
}

.cancelCatIconBtn {
  background-color: var(--color-cancel-btn-bg);
}

.save,
.cancel,
.edit-budget-category-detail,
.edit-budget-category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
}

.edit-budget-category,
.save,
.cancel,
.edit-budget-category-detail {
  height: 3rem;
}

.save,
.cancel,
.edit-budget-category-detail,
.edit-budget-category,
.edit-budget-title {
  width: 100%;
}

.edit-budget-amount {
  width: 100%;
  text-align: center;
}

.dollar {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.edit-budget-title {
  font-size: 1.5rem;
  text-align: center;
}

.edit-budget-date-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.edit-budget-amount,
.edit-budget-category-detail,
.edit-budget-date,
.save,
.cancel,
.edit-budget-category {
  border-radius: 5px;
}

.save {
  background-color: var(--color-save-btn-bg);
  color: var(--color-save-btn-text);
  border: none;
}

.cancel {
  background-color: var(--color-cancel-btn-bg);
  color: var(--color-cancel-btn-text);
  border: none;
}

.edit-budget-amount,
.edit-budget-category-detail,
.edit-budget-category,
.edit-budget-date {
  border: 1px solid var(--color-input-border);
}

.edit-budget-date {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}

.dollar,
.edit-budget-amount {
  font-size: 2.5rem;
}

/*footer section*/
.footer-p {
  padding: 2rem;
  text-align: center;
  color: var(--color-footer-text);
  background-color: var(--color-footer-bg);
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* 
@media (prefers-reduced-motion: reduce) {
  .progress-bar {
    animation: none;
  }
} */

@media screen and (max-width: 799px) {
  .track-icons.reveal-mobile {
    max-height: 20rem;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-top: 0 10px 10px 1px var(--color-category-icon-border);
  }
  .category-icon-container.reveal-mobile {
    overflow: hidden;
  }
  .gear-setting-wrapper.reveal-mobile {
    box-shadow: 0 2px 5px 0 var(--color-shadow-box);
  }
}

@media (min-width: 800px) {
  /*sidebar menu*/
  .x-icon {
    display: none;
  }

  .sidebar {
    position: unset;
    width: 250px;
    border-right: 1px solid var(--color-sidebar-border);
    box-shadow: 0 10px 10px 1px var(--color-shadow-box);
  }

  /*For better accessibility by separating the primary navigation elements from the 
  log out button to prevent accidental clicks*/
  .settings {
    border-bottom: 1px solid var(--color-sidebar-link-border);
  }

  .log-out:hover {
    background-color: var(--color-logout-bg-hover);
    color: var(--color-logout-text-hover);
  }
  /*category icons*/
  .track-icons {
    /*adds extra space at the end of the carousel*/
    padding-right: 150px;
    justify-content: start;
  }

  /*to reveal all icons*/
  .track-icons.reveal-icons {
    flex-wrap: wrap;
    padding-right: unset;
    padding-bottom: 1.5rem;
    justify-content: center;
  }

  .slide-left-btn.reveal-icons,
  .slide-right-btn.reveal-icons {
    display: none;
  }
  .category-icon-container.reveal-icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-content.reveal-icons {
    height: unset;
  }

  .track-icons {
    display: flex;
    grid-template-columns: unset;
    flex-wrap: unset;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .category-icon {
    padding: 0.5rem 0.5rem;
  }

  .category-icon-container {
    flex-direction: unset;
    align-items: unset;
    flex-wrap: unset;
  }

  .add-category-wrapper,
  .edit-budget-dialog-wrapper {
    max-width: 450px;
  }

  .gear-setting-wrapper {
    width: unset;
    gap: 0;
  }

  .slide-left-btn,
  .slide-right-btn {
    display: unset;
    background-color: var(--color-slide-btn-bg);
    border: 1px solid var(--color-glass-border);
    opacity: 95%;
    color: var(--color-slide-btn-arrow);
    z-index: 1;
  }

  .slide-left-btn {
    box-shadow: 3px 1px 5px 0 var(--color-shadow-box);
  }

  .slide-right-btn {
    position: absolute;
    right: 0;
    height: 100%;
    box-shadow: -3px 1px 5px 0 var(--color-shadow-box);
  }

  /*category details section*/
  .date-goal-wrap {
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
  }

  /*to keep the footer at the bottom*/
  .main-content {
    height: 100%;
  }

  /*modal section*/
  .category-dialog-wrapper {
    min-width: 30%;
  }

  .confirmation-dialog-wrapper {
    height: 200px;
    width: 400px;
  }

  .confirmation-dialog {
    padding: 2rem;
  }
  /*animation and hover effect*/
  .util-btns,
  .edit-budget-category,
  .edit-budget-date,
  .save,
  .cancel,
  .deleteCatIconBtn,
  .cancelCatIconBtn,
  .menu-link,
  .menu-icon,
  .light-mode-icon,
  .gear-icon-wrapper,
  .view-all,
  .plus-icon,
  .save-btn,
  .close-btn,
  .remove-btn,
  .category-icon-wrapper,
  .edit-budget-btn,
  .slide-right-btn,
  .slide-left-btn,
  .log-out {
    cursor: pointer;
  }

  .save-btn:hover {
    background-color: var(--color-save-btn-bg-hover);
  }
  .slide-right-btn:hover,
  .slide-left-btn:hover,
  .plus-icon:hover,
  .view-all:hover,
  .gear-icon:hover {
    background-color: var(--color-dark-green-hover);
  }

  .slide-left-btn:active,
  .slide-right-btn:active {
    animation: bounce 0.35s ease;
  }

  .menu-link:hover,
  .category-icon-wrapper:hover {
    background-color: var(--color-link-hover);
  }

  .save-btn:hover,
  .plus-icon:hover,
  .view-all:hover,
  .gear-icon:hover,
  .menu-link:hover,
  .category-icon-wrapper:hover {
    transition: all 0.2s ease;
  }

  .plus-icon,
  .view-all:hover,
  .gear-icon:hover,
  .menu-link:hover,
  .category-icon-wrapper:hover {
    box-shadow: 0 2px 5px 0 var(--color-shadow-box);
    color: var(--color-round-icon-img);
  }
}
